@media (max-width: 1024px){
    .container{
        width: 900px;
        justify-content: flex-start;
    }

    .nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .search{
        margin-left: 115px;
        margin-top: 30px;
    }

    label.toggleMenu{
        position: absolute;
        display: block;
        cursor: pointer;
        margin-top: 25px;
        left: 830px;
    }

    .menu li{
        font-size: 18px;
        margin: 0;
        padding: 3px;
    }

    .menu a{
        padding: 0;
    }

    .menu{
        display: none;
        position: relative;
        flex-direction: column;
        padding: 0;
        text-align: right;
        top: -10px;
        left: 504px;
    }

    input.toggleMenu:checked + label.toggleMenu ~ ul.menu{
        display: flex;
    }

    .content2{
        width: 100%;
        padding-left: 10px;
    }

   .tomato__name__img, .tomato__name__img img{
        width: 444px;
        height: 420px;
    }

    .section__1{
        width: 100%;
        justify-content: space-around
    }

    .links a{
        padding-right: 20px;
    }
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }

    .search{
        margin-left: 80px;
    }

    label.toggleMenu{
        left: 680px;
    }

    .menu{
        left: 414px;
    }

    .tomato__name__text h1{
        font-size: 45px;
    }
    
    .tomato__name__text h2{
        font-size: 40px;
    }

    .tomato__name__subtext h3{
        font-size: 27px;
    }

    .list{
        width: 436px;
        flex-direction: column;
    }

    .tomato__name__img, .tomato__name__img img{
        width: 340px;
        height: 330px;
        right: 62px;
    }

    .links a{
        font-size: 14px;
        padding-right: 10px;
    }
}

@media (max-width: 403px){
    .container{
        flex-direction: column;
    }

    .nav{
        flex-direction: column-reverse;
        align-items: center;
    }

    .search, .menu{
        margin: 0;
    }

    .search{
        margin-top: 30px;
    }

    .search input{
        margin-right: 65px;
    }

    label.toggleMenu{
        top: 30px;
        left: 330px;
        margin: 0;
    }

    .menu{
        top: -30px;
        left: 118px;
    }

    .menu li{
        font-size: 14px;
    }

    .tomato__name{
        flex-direction: column;
        align-items: center;
    }

    .tomato__name__text h1{
        font-size: 35px;
    }
    
    .tomato__name__text h2{
        font-size: 30px;
    }

    .tomato__name__subtext h3{
        font-size: 20px;
    }

    .tomato__name__subtext img{
        width: 70px;
        height: 50px;
    }

    .list{
        width: 329px;
    }

    .list li, span{
        font-size: 14px;
    }

    .tomato__name__img{
        margin-top: 30px;
    }

    .tomato__name__img, .tomato__name__img img{
        width: 290px;
        height: 290px;
        right: 25px;
    }

    .add_to_cart{
        align-self: center;
    }

    .section__1{
        flex-direction: column;
        padding: 15px 0 15px 0;
    }

    .links{
        margin-bottom: 10px;
    }

    .links a{
        font-size: 10px;
    }

    .links__img img{
        width: 30px;
        height: 30px;
    }

    .section__2 h4{
        font-size: 11px;
        padding: 12px 0 10px 0;
    }
}

@media (max-width: 375px){
    label.toggleMenu{
        left: 300px;
    }

    .search input{
        margin-right: 85px;
    }

    .menu{
        left: 104px;
    }

    .menu li{
        font-size: 12px;
    }

    .footer a{
        padding-right: 5px;
    }

    .links__img img{
        width: 20px;
        height: 20px;
    }

    .section__2 h4{
        font-size: 10px;
        padding: 12px 0 10px 0;
    }
}

@media (max-width: 320px){
    .search input{
        margin-right: 35px;
    }

    .search::after{
        width: 300px;
    }

    label.toggleMenu{
        left: 260px;
    }

    .menu {
        left: 91px;
    }

    .return a{
        font-size: 12px;
    }

    .btn_dwl-pdf{
        top: 945px;
        left: 25px;
    }

    .tomato__name__text h1{
        font-size: 30px;
    }
    
    .tomato__name__text h2{
        font-size: 25px;
    }

    .list{
        width: 283px;
    }

    .list li, span{
        font-size: 12px;
    }

    .list span{
        padding: 0;
    }

    .tomato__name__img img{
        width: 280px;
        height: 280px;
        right: 28px;
    }

    .links a{
        font-size: 9px;
    }
}